/* Navbar login button */

#UserBtn {
  border-radius: 25px;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
}

.UserLogin {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  opacity: 0;
  flex-direction: row;
  /* margin: 40px; */
  top: 80px;
  position: absolute;
  right: 0px;
  height: 70px;
  width: 250px;
  border-bottom-left-radius: 5px;
  background: -webkit-linear-gradient(#000067, #d7e1ec);
  z-index: 1;
  transition: all 0.5s ease-in;
}

.UserLogin.active {
  opacity: 1;
}

.UserLogin ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.UserLogin li {
  padding: 10px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.UserLogin a {
  padding: 10px;
  color: #fff;
  font-size: 1.25rem;
  border: none;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.UserLogin a:hover {
  color: #a5a5a5;
}


.body {
  background-color: #f8f8ff;
  width: 100%;
  text-align: center;
}

.top-nav {
  background-color: #000067;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 40px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -50px;
  text-decoration: none;
  position: absolute;
}

.logo {
  position: absolute;
  left: 30px;
}

.logo img {
  height: 40px;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav-links {
  flex-basis: 75%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.nav-links a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #a5a5a5;
}

.articles {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}

#favorite-article-container {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  display: inline-block;
  padding: 3px;
  width: 60%;
  margin: auto;
  border-radius: 10px;
  text-align: left;
}

.articles-title {
  font-size: 45px;
  background: -webkit-linear-gradient(#d7e1ec, #000067);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 86%;
  margin: auto;
  padding: 20px;
}

#favorite-article-container img {
  float: left;
  width: 60%;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

#favorite-article-container h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

#favorite-article-container p {
  margin: 10px;
  font-size: 20px;
}

#readMore {
  border-radius: 10px;
  border: 1.5px solid #000067;
  text-decoration: none;
  background-color: #eeeeee;
}

#more {
  display: none;
}

.card {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 90%);
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  margin: 15px 5px;
  overflow: hidden;
  width: 400px;
  min-height: 245px;
}

.image-container {
  width: 45%;
  overflow: hidden;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
  transform: scale(1.1);
}

.info-container {
  padding: 20px;
  width: 65%;
}

.info-container h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.info-container p {
  font-size: 18px;
  margin-bottom: 5px;
}

.social-icons {
  display: flex;
}

.social-icons a {
  color: #555;
  font-size: 24px;
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #0077b5;
}

.social-icons i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.actors {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 87%;
  margin: auto;
}

.statistics {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}

.statistic {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  display: inline-block;
  padding: 3px;
  width: 60%;
  margin: auto;
  border-radius: 10px;
  text-align: left;
}

.dropdown {
  display: inline;
  position: relative;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
}

.dd-button {
  display: inline-block;
  border: 0px solid gray;
  border-radius: 10px;
  padding: 10px 30px 10px 20px;
  background-color: whitesmoke;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 0px solid #ccc;
  border-radius: 10px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
  width: 100%;
  z-index: 999;
}

.dd-input+.dd-menu {
  display: none;
}

.dd-input:checked+.dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.center {
  display: block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 80%;
  border-radius: 10px;
}

.statistic-title {
  margin-left: 100px;
  margin-top: 30px;
  font-family: "Lato", sans-serif;
  float: left;
}

.Cards.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: auto;
  height: auto; */
}

.Card {
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: end;
  flex-direction: column;
  min-width: 350px;
  width: 25vw;
  height: 60vh;
  align-items: center;
  border-radius: 10px;
  transition: 0.5s ease-in;
}
.Card p {
  position: relative;
  z-index: 2;
  opacity: 0;
  transition: .5s ease-in;
  margin: 0px;
  width: 100%;
  text-align: center;
  padding: 30px;
  font-size: 1.25rem;
}
.Card h3 {
  transition: .5s ease-in;
  text-align: center;
  margin: 0px;
  width: 100%;
  opacity: 0;
  font-size: 3rem;
  left: 20px;
  bottom: 20%;
  font-size: 1.5rem;
  padding: 1rem 0rem 1rem 0rem;
}
.Card:hover {
  background-image: none;
  opacity: 0.8;
}
.Card:hover > p{
  background-color: #fff;
  opacity: 1 ;
  color:black;
}
.Card:hover h3{
  background-color: #fff;
  color: black;
  opacity: 1;
  border-bottom: 1px solid black;
}

.Card h1 {
  font-weight: bolder;
  font-style: oblique;
  color: #fff;
  opacity: 1;
  font-size: 2.5rem;
  bottom: 20px;
  left: 20px;
  margin: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.4s;
  z-index: 1;
}

.showMoreBtn {
  background-color: #000067;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 50px;
  margin-top: 30px;
}

.howMoreBtn:hover {
  background-color: #fff;
  color: #000067;
  border: 2px solid #000067;
}

.showMore {
  margin: auto;
  width: fit-content;
}

@media screen and (max-width: 700px) {
  .menu-icon {
    display: block;
    position: absolute;
    left: 15px;
  }

  .nav-links {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #000067;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    z-index: 1;
  }

  .nav-links.show-nav {
    opacity: 1;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links a {
    font-size: 20px;
    color: #fff;
  }

  .show-nav {
    width: 100%;
  }

  .article {
    width: 95%;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 10px;
  }

  .article-text {
    margin: 10px;
    font-size: 16px;
  }

  .statistic {
    width: 95%;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 10px;
  }

  .statistic-title {
    margin-left: 30px;
  }

  .dropdown {
    margin-right: 30px;
  }

  .center {
    width: 96%;
    margin-bottom: 20px;
  }

  .actors {
    width: 95%;
    margin: auto;
  }

  .CardsContainer {
    width: 101%;
  }

  .card {
    margin: auto;
    width: 100%;
    min-width: 350px;
    margin-top: 30px;
  }

  .UserLogin {
    width: 100px;
    ;
  }
  .nav-links li a {
    display: none;
  }
}