* {
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: black;
}

.container {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../PozeDiverse/loginBackground.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}

p {
    font-style: oblique;
    color: #05204A;
    font-weight: bold;
    font-size: 16px;
    text-align: center;

}

.card {
    width: auto;
    height: auto;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
    perspective: 1000px;
}
.input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input-box {
    padding-right: 30px; 
  }
  
  #eye {
    position: absolute;
    right: 10px; 
    cursor: pointer;
  }
.inner-class{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.inner-box {
    position: relative;
    width: 25vw;
    height: 70vh;
    transform-style: preserve-3d;
    border-radius: 5%;
    transition: transform 1s;
    z-index: 2;
    opacity: 1;
}
#loginForm{
    width: 100%;
}

.card-front,
.card-back {
    border-radius: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(245, 246, 252, 0.52), #05204a);
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-back {
    transform: rotateY(180deg);
}

.card h2 {
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    background: transparent;
    border: 0.5px solid #fff;
    margin: 6px 0;
    height: 32px;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    padding: 0 10px;
    text-align: center;
    color: #fff;
}

::placeholder {
    color: #fff;
    font-size: 12px;
}

.submit-btn {
    position: relative;
    width: 100%;
    background: transparent;
    border: 1px solid #05204a;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.submit-btn::after {
    content: '\27a4';
    color: #05204a;
    line-height: 32px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
}

.card .btn {
    margin-top: 70px;
}

.card a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
}

@media only screen and (max-width: 1000px) {
    .card-front p {
        font-size: 25px;
    }

    .inner-box {
        width: 500px;
        height: 800px;
    }

    .card {
        width: 500px;
        height: 800px;
    }

    .card-front,
    .card-back {
        padding: 90px;
    }

    .card h2 {
        font-size: 50px;
    }

    .input-box {
        height: 50px;
        padding-top: 10px;
    }

    .submit-btn {
        height: 50px;
        padding-top: 10px;

    }

    .card a {
        font-size: 25px;
    }

    ::placeholder {
        font-size: 25px;

    }

    .submit-btn::after {
        line-height: 50px;
        font-size: 35px;
        height: 50px;
        width: 50px;
        right: -4px;
    }

    .buttons {
        font-size: 25px;
        height: 45px;
    }

}

.buttons {
    width: 100%;
    background: #05204a;
    border: none;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

.buttons:hover {
    background: #fff;
    color: #05204a;
}