<html>

<head>
    <title>Forgot Password</title>
    <style>
        .password-toggle {
            position: absolute;
            top: 8px;
            right: 8px;
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url("../../static/PozeDiverse/8466805.png");
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
    <link rel="stylesheet" href="../../static/CSS/login.css" />
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="inner-box" id="card">
                <div class="card-front">
                    <h2>Forgot Password</h2>
                    <p>Actors Smart Visualizer</p>
                  
                    <form action="" method="POST" id="form">
                        <input type="username" class="input-box" id="username" placeholder="Username" required />
                        <input type="text" class="input-box" id="favorite" placeholder="Favorite actor/actress/movie/tv-series" required />
                        
                            <div class="input-container">
                                <input type="password" class="input-box" id="new-password" placeholder="New Password" required />                               
                                 <i id="eye" class="fa fa-eye" onclick="togglePasswordVisibility()"></i>
                              </div>
                        <input type="submit" class="buttons" value="Change password" />
                    </form>
                    <input type="button" class="buttons" value="Login" onClick="window.location.href='login.html'" />
                </div>
            </div>
            <script src="../../static/JS/forgotPassword.js"></script>
            </script>

</body>

</html>