<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="../../static/CSS/login.css" />
</head>

<body>
  <div class="container">
    <div class="card">
      <div class="inner-box" id="card">
        <div class="card-front">
          <h2>Login</h2>
          <!-- <p>Actors Smart Visualizer</p>
          <p>
            Un site destinat previzualizării statisticilor în urma nominalizărilor la Screen Actors Guild Awards.
          </p> -->
          <form id="loginForm">
            <input type="text" class="input-box" id="username" placeholder="Your username" required />
            <div class="input-container">
              <input type="password" class="input-box" id="password" placeholder="Your password" required />
              <i id="eye" class="fa fa-eye" onclick="togglePasswordVisibility()"></i>
            </div>
            <button type="submit" class="buttons">Login</button>
          </form>
          <input type="button" class="buttons" value="Create an account"
            onClick="window.location.href='register.html'" />
          <input type="button" class="buttons" value="Forgot Password"
            onClick="window.location.href='forgotPassword.html'" />
        </div>

      </div>
    </div>
    <script src="../../static/JS/login.js"></script>
  </div>
</body>

</html>