<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nominees</title>
    <link rel="stylesheet" href="../../static/CSS/nominees.css" />
  </head>
  <body>
    <div class="NavTitle">
      <h1>Nominees</h1>
    </div>
    <div class="SearchAndButtons">
      <div class="SearchYear">
        <select class="select-box">
          <option value="2023">2023</option>
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
        </select>
      </div>
      <div class="ButtonsClass">
        <button>All</button>
        <button>Movies</button>
        <button>Series</button>
        <button>Stunts</button>
      </div>
    </div>
    <div class="CardsClass">
      <h1 class="LineText">Film</h1>
      <div class="CategoryNominalization">
        <p>Outstanding performance by a</p>
        <h1>CAST IN MOTION PICTURE</h1>
      </div>
      <div class="CardsContainer">
        <div
          class="Card active"
          style="
            background-image: url(https://wallpapercave.com/wp/wp12109124.jpg);
          "
        >
          <h1>Winner</h1>
          <h3>Everything everywhere all at once</h3>
          <button>View Cast</button>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://wallpapercave.com/dwp1x/wp11716913.jpg);
          "
        >
          <h3>The fablemans</h3>
          <button>View Cast</button>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://images6.alphacoders.com/129/1296356.jpg);
          "
        >
          <h3>Babylon</h3>
          <button>View Cast</button>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://wallpapercave.com/dwp1x/wp11994083.jpg);
          "
        >
          <h3>Banshees of Inisherin</h3>
          <button>View Cast</button>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://media1.houstonpress.com/hou/imager/u/magnum/14820055/hou_art_20230106_wt_header.jpeg?cb=1672798656);
          "
        >
          <h3>Women Talking</h3>
          <button>View Cast</button>
        </div>
      </div>
      <div class="CategoryNominalization">
        <p>Outstanding performance by a</p>
        <h1>FEMALE ACTOR IN LEADIN ROLE</h1>
      </div>
      <div class="CardsContainer">
        <div
          class="Card active"
          style="
            background-image: url(https://wallpapercave.com/wp/wp12109124.jpg);
          "
        >
          <h1>Winner</h1>
          <h3>Everything everywhere all at once</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://wallpapercave.com/dwp1x/wp11716913.jpg);
          "
        >
          <h3>The fablemans</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://images6.alphacoders.com/129/1296356.jpg);
          "
        >
          <h3>Babylon</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://wallpapercave.com/dwp1x/wp11994083.jpg);
          "
        >
          <h3>Banshees of Inisherin</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://media1.houstonpress.com/hou/imager/u/magnum/14820055/hou_art_20230106_wt_header.jpeg?cb=1672798656);
          "
        >
          <h3>Women Talking</h3>
        </div>
      </div>
      <div class="CategoryNominalization">
        <p>Outstanding performance by a</p>
        <h1>MALE ACTOR IN A LEADING ROLE</h1>
      </div>
      <div class="CardsContainer">
        <div
          class="Card active"
          style="
            background-image: url(https://wallpapercave.com/wp/wp12109124.jpg);
          "
        >
          <h1>Winner</h1>
          <h3>Everything everywhere all at once</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://wallpapercave.com/dwp1x/wp11716913.jpg);
          "
        >
          <h3>The fablemans</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://images6.alphacoders.com/129/1296356.jpg);
          "
        >
          <h3>Babylon</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://wallpapercave.com/dwp1x/wp11994083.jpg);
          "
        >
          <h3>Banshees of Inisherin</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://media1.houstonpress.com/hou/imager/u/magnum/14820055/hou_art_20230106_wt_header.jpeg?cb=1672798656);
          "
        >
          <h3>Women Talking</h3>
        </div>
      </div>
      <div class="CategoryNominalization">
        <p>Outstanding performance by a</p>
        <h1>FEMALE ACTOR IN A SUPPORTING ROLE</h1>
      </div>
      <div class="CardsContainer">
        <div
          class="Card active"
          style="
            background-image: url(https://wallpapercave.com/wp/wp12109124.jpg);
          "
        >
          <h1>Winner</h1>
          <h3>Everything everywhere all at once</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://wallpapercave.com/dwp1x/wp11716913.jpg);
          "
        >
          <h3>The fablemans</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://images6.alphacoders.com/129/1296356.jpg);
          "
        >
          <h3>Babylon</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://wallpapercave.com/dwp1x/wp11994083.jpg);
          "
        >
          <h3>Banshees of Inisherin</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://media1.houstonpress.com/hou/imager/u/magnum/14820055/hou_art_20230106_wt_header.jpeg?cb=1672798656);
          "
        >
          <h3>Women Talking</h3>
        </div>
      </div>
      <div class="CategoryNominalization">
        <p>Outstanding performance by a</p>
        <h1>MALE ACTOR IN A SUPPORTING ROLE</h1>
      </div>
      <div class="CardsContainer">
        <div
          class="Card active"
          style="
            background-image: url(https://wallpapercave.com/wp/wp12109124.jpg);
          "
        >
          <h1>Winner</h1>
          <h3>Everything everywhere all at once</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://wallpapercave.com/dwp1x/wp11716913.jpg);
          "
        >
          <h3>The fablemans</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://images6.alphacoders.com/129/1296356.jpg);
          "
        >
          <h3>Babylon</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://wallpapercave.com/dwp1x/wp11994083.jpg);
          "
        >
          <h3>Banshees of Inisherin</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://media1.houstonpress.com/hou/imager/u/magnum/14820055/hou_art_20230106_wt_header.jpeg?cb=1672798656);
          "
        >
          <h3>Women Talking</h3>
        </div>
      </div>
      <div class="CategoryNominalization">
        <p>Outstanding performance by</p>
        <h1>FEMALE ACTOR IN LEADIN ROLE</h1>
      </div>
      <div class="CardsContainer">
        <div
          class="Card active"
          style="
            background-image: url(https://wallpapercave.com/wp/wp12109124.jpg);
          "
        >
          <h1>Winner</h1>
          <h3>Everything everywhere all at once</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://wallpapercave.com/dwp1x/wp11716913.jpg);
          "
        >
          <h3>The fablemans</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://images6.alphacoders.com/129/1296356.jpg);
          "
        >
          <h3>Babylon</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://wallpapercave.com/dwp1x/wp11994083.jpg);
          "
        >
          <h3>Banshees of Inisherin</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://media1.houstonpress.com/hou/imager/u/magnum/14820055/hou_art_20230106_wt_header.jpeg?cb=1672798656);
          "
        >
          <h3>Women Talking</h3>
        </div>
      </div>
      <h1 class="LineText">Stunts</h1>
      <div class="CategoryNominalization">
        <p>Outstanding performance by</p>
        <h1>STUNT ENSEMBLE IN A TELEVISION SERIES</h1>
      </div>
      <div class="CardsContainer">
        <div
          class="Card active"
          style="
            background-image: url(https://wallpapercave.com/wp/wp12109124.jpg);
          "
        >
          <h1>Winner</h1>
          <h3>Everything everywhere all at once</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://wallpapercave.com/dwp1x/wp11716913.jpg);
          "
        >
          <h3>The fablemans</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://images6.alphacoders.com/129/1296356.jpg);
          "
        >
          <h3>Babylon</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://wallpapercave.com/dwp1x/wp11994083.jpg);
          "
        >
          <h3>Banshees of Inisherin</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://media1.houstonpress.com/hou/imager/u/magnum/14820055/hou_art_20230106_wt_header.jpeg?cb=1672798656);
          "
        >
          <h3>Women Talking</h3>
        </div>
      </div>
      <div class="CategoryNominalization">
        <p>Outstanding performance by</p>
        <h1>STUNT ENSEMBLE IN A MOTION PICTURE</h1>
      </div>
      <div class="CardsContainer">
        <div
          class="Card active"
          style="
            background-image: url(https://wallpapercave.com/wp/wp12109124.jpg);
          "
        >
          <h1>Winner</h1>
          <h3>Everything everywhere all at once</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://wallpapercave.com/dwp1x/wp11716913.jpg);
          "
        >
          <h3>The fablemans</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://images6.alphacoders.com/129/1296356.jpg);
          "
        >
          <h3>Babylon</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://wallpapercave.com/dwp1x/wp11994083.jpg);
          "
        >
          <h3>Banshees of Inisherin</h3>
        </div>
        <div
          class="Card"
          style="
            background-image: url(https://media1.houstonpress.com/hou/imager/u/magnum/14820055/hou_art_20230106_wt_header.jpeg?cb=1672798656);
          "
        >
          <h3>Women Talking</h3>
        </div>
      </div>
    </div>
    <script src="../../static/JS/NomineesScript.js"></script>
  </body>
</html>
